<include file="Public/header"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/login.css" />
<div class="container">
  <form class="form-signin" action="{:U('login/login')}" method="POST" name="loginForm">
    <h2 class="form-signin-heading">登录</h2>
    <input name="user" type="text" class="input-block-level" placeholder="Email address">
    <input name="password" type="password" class="input-block-level" placeholder="Password">
    <label class="checkbox">
      <input type="checkbox" value="remember-me" name="remember"> 三天内自动登录
    </label>
    <input class="btn btn-large btn-primary" type="submit" value="登录"> 
    <a href="#">忘记密码</a>
  </form>
</div>
