<include file="Public/header"/>
<include file="Public/nav"/>
<div class="main">
  <form action="javascript:void(0)" method="POST" name="form">
    <div class="question_box">
      <div class="content">
        <div>
          <input type="button" id="next" name="next" value="查看症状" class="btn"/>
          <input type="hidden" name="id" id="id" value=""/>
          <input type="hidden" name="type" id="type" value="class"/>
          <input type="button" name="show_answer" value="诊断用药" class="btn"/>
        </div>
      </div>
    </div>
  </form>
  <div class="line"></div>
  <div id="title"> - </div>
  <div class="line"></div>
  <div  id="answer"></div>
  <div class="line"></div>
</div>

